@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Raleway:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');


/*Стиль для AWESOME*/
.awesome {
  font-family: 'Raleway', sans-serif;
  width: 1170px;
  margin: auto ; 
  margin-bottom: 50px;
}

.awesome__title, .pric__title, .say__title, .contact__title {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
}

.awesome__title-wrapper, .pric__title-wrapper, .say__title-wrapper, .contact__title-wrapper {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.awesome__line, .pric__line, .say__line, .contact__line {
  border-bottom: 1px solid #EC7979;
  width: 170px;
  margin: auto;
  margin-bottom: 40px;
}  

.awesome__subtitle, .pric__subtitle, .say__subtitle, .contact__subtitle {
  margin: 0;
  color: #86878B;
  font-size: 18px;
  text-align: center;
  margin-bottom: 90px;
}

.awesome__container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.awesome__block { 
  width: 370px; 
}

.awesome__icon-wrapper {
  height: 92px;
  width: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #EC7979;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 78px;
}

.awesome__block-title {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 47px;
}

/*Стиль для TABS*/

.tabs {
  margin: auto;
  width: 1170px;
  margin-bottom: 50px;
  margin-top: 100px;
}

.tabs__info {
  margin: auto;
  height: 500px;
  border: 1px solid #C6CBCD;
  display: flex;
  justify-content: space-around; 
}

.tabs__text {
  margin:47px 0 30px 100px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.tabs__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  margin-bottom: 74px;
}

.tabs__button {
  margin-top: 10px;
  height: 58px;
  width: 270px;
  background: #EC7979;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  align-items: center;
  border: none;
}

.tabs__button:hover {
  background: #AB4949;
  cursor: pointer;
}

.tabs__button:active {
  background: #EC7979;
  box-shadow: inset 0px 0px 10px #AB4949;
}

.tabs__switch {
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.tabs__switch-name {
  width: 203px;
  height: 40px;
  margin: 0;
  border: none;
  cursor: pointer;
  background: #FFFFFF;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.tabs__switch-name:focus { 
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #C6CBCD;
  border-bottom: 4.5px solid #fff;
  margin-bottom: -4.5px;
}

.tabs__switch-name:hover {
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #C6CBCD;
  border-bottom: 4.5px solid #fff;
  margin-bottom: -4.5px;
}

/*цена и комментарии*/ 

.pric {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 900px;
  margin: auto ; 
  background-color: #F5F5F5;
}

.pric__container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: auto;
  width: 1170px;
}

.pric__block { 
  width: 370px;
}

p[class*="black"] {
  background: #333333;
  border: 2px solid #F5F5F5;
  color: #fff;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pric__black:first-child {
  height: 60px;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.pric__black:nth-child(2) {
  height: 100px;
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.pric__black {
  height: 50px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.pric__withe {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 0;
  background: #FFFFFF;
  border: 2px solid #F5F5F5;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.pric__block:hover { 
  margin-top: -20px;
  margin-bottom: auto;
  box-shadow: 0 4px 10px rgba(51, 51, 51, 0.2);
}

.say {
  font-family: 'Raleway', sans-serif;
  height: 744px;
  margin: auto ; 
}

.say__comment {
  width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.block__mes {
  position: relative;
  width: 370px;
  height: 180px;
  background: #E2E2E2;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 75px;
}

.mes__mark {
  position: absolute; /*для того чтобы треугольник комментария оставался на месте*/
  margin-top: 200px;
  margin-left: 70px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 25px solid #E2E2E2;
}

.block__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block__name {
  margin: 30px 0;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 24px;
}

.block__icon-text {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.block__job {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
}

/* header */

.head__contain {
  width: 100%;
  height: 75px;
  background: #000;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.head__contain-logo {
  margin: auto;
  margin-left: 10%;
}

.head__contain-nav {
  margin: auto;
  width: 570px;
  display: flex;
  justify-content: space-around;
}

.contain-nav {
  background: #000;
  color: #fff;
  border: none;
  padding: 0;
  cursor: pointer;
}

.mobile__menu {
  display: none;
}

/* дизайн */

.design {
  font-family: 'Raleway', sans-serif;
  width: 100%;
  height: 442px;
  margin: auto ; 
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url(./imagine/sTown.png) no-repeat;
  background-position: center;  
  background-size: 100% 100%;
}

.design__title {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  color: #fff;
}

.design__title-wrapper {
  padding-top: 50px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.design__line {
  border-bottom: 1px solid #fff;
  width: 170px;
  margin: auto;
  margin-bottom: 40px;
}  

.design__subtitle {
  margin: 0;
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin-bottom: 73px;
}

.blok__design {
  display: flex;
  justify-content: center;
}

.design__button, .banner__button {
  margin-top: 10px;
  height: 58px;
  width: 270px;
  background: none;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  border:2px solid #FFFFFF;
}

.design__button:hover {
  color: #EC7979;
  border:2px solid #EC7979;
  cursor: pointer;
}

.design__button:active {
  color: #FFFFFF;
  border:2px solid #AB4949;
  background: #AB4949;
}

/*медиа*/

.media {
  display: flex; 
  justify-content: center;
  margin: auto;
  width: 100%;
  height: 140px;
  background: #F8EFEF;
}

.media-wrapper {
  width: 1510px; 
  display: flex;
  align-items: center;
  margin: 0 170px;
}

.media__text {
  width: 520px;
  padding-right: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-right: 0;
}

.media__text p {
  font-family: 'Raleway';
  color: #86878B;
  font-size: 18px;
}

.font-aw {
  width: 640px;
  display: flex;
  justify-content: space-between;  
}

.font-aw i {
   color: #CCCCCC;
}

/*footer*/

.end {
  background:#000;
  width: 100%;
  height: 164px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.font-aw__end {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.font-aw__end i {
  color: #CCCCCC;
}

.end p {
  font-family: 'Raleway';
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
}

/*banner style*/

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url(./imagine/banner.png) no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
  height: 950px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Raleway";
}

.banner__wrapper {
  display: flex;
  justify-content: flex-start;
  margin: 0 20px 0 170px;
}

.banner__text {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.banner__title {
  font-weight: 500;
  font-size: 48px;
  color: #FFFFFF;
  margin-bottom: 55px;
  max-width: 700px;
  margin-right: 30px;
}

.banner__line {
  border-bottom: 1px solid #fff;
  width: 170px;
  margin-bottom: 40px;
}  

.banner__subtitle {
  margin: 0;
  color: #fff;
  font-size: 18px;
  margin-bottom: 73px;
}

.banner__form {
  width: 470px;
  height: 450px;
  background: #FFFFFF;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.banner__form-title {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 24px;
  color: #333333;
}

.banner__button:hover {
  color: #EC7979;
  border:2px solid #EC7979;
  cursor: pointer;
}

.banner__button:active {
  color: #FFFFFF;
  border:2px solid #AB4949;
  background: #AB4949;
}

#form__name, #form__email, #form__pas {
  font-family: 'Open Sans';
  border: none;
  outline: none;
  border-bottom: 1px solid #BDBDBD;
  width: 80%;
  height: 60px;
  margin: auto;
}

::-webkit-input-placeholder {
  color: #BDBDBD;
}

#form__pas {
  margin-bottom: 75px;
}

.form__button {
  height: 60px;
  width: 100%;
  background: #EC7979;
  border-radius: 0px 0px 10px 10px;
  outline: none;
  border: none;
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 15px;
}

.form__button:hover {
  background: #AB4949;
  cursor: pointer;
}

.form__button:active {
  background: #EC7979;
  box-shadow: inset 0px 0px 10px #AB4949;
}

.colortext {
  color: #EC7979;
}

/*contact style*/

.contact {
  font-family: "Raleway";
  text-align: center;
  margin-top: 50px;
}

.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__wrapper {
  display: flex;
  flex-direction: row;
}

.basic__wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.contact__form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact__message {
  border: none;
  outline: none;
  border-bottom: 1px solid #BDBDBD;
  width: 570px;
  font-family: "Raleway";
  resize: none;
}

#contact__form-name, #contact__form-email, #contact__form-pas {
  border: none;
  outline: none;
  border-bottom: 1px solid #BDBDBD;
  width: 570px;
  height: 60px;
  font-family: "Raleway";
}

.contact__button {
  margin: 50px;
  height: 58px;
  width: 370px;
  background: #EC7979;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  border: none;
}

.contact__button:hover {
  background: #AB4949;
  cursor: pointer;
}

.contact__button:active {
  background: #EC7979;
  box-shadow: inset 0px 0px 10px #AB4949;
}

.all {
  display: none;
}

@media screen and (min-width: 769px) and (max-width: 1171px) {

  .banner {
    background-size: cover;
    height: 768px;
  }  

  .banner__wrapper {
    margin-left: 115px;
  }

  .banner__title {
    font-size: 36px;
    max-width: 480px;
  }

  .banner__line {
    width: 115px;
    margin-bottom: 30px;
  }

  .banner__subtitle {
    font-size: 14px;
  }

  .banner__button {
    width: 183px;
    height: 50px;
  }

  .banner__form {
    width: 398px;
    height: 450px;
  }

  .banner__form-title {
    font-size: 18px;
  }
  
  .media {
    margin-bottom: 50px;
  }

  .media__text {
    width: 440px;
    padding-right: 40px;
    margin-left: 16px;
  }
  
  .font-aw {
    margin-right: 0;
    font-size: 15px;
    width: 70%;
  }

  .font-aw i {
    font-size: 3.3em;
  }

  .media-wrapper {
    width: 1024px;
    margin: 0 16px;
  }

  .media__text p {
    font-size: 14px;
  }

  .media__text h4 {
    font-size: 18px;
  }

  .tabs {
    width: 100%;
  }

  .tabs__text {
    font-size: 14px;
  }

  .tabs-wrapper {
    margin: auto;
    width: 994px;
  }

  .tabs__title {
    font-size: 24px;
  }

  .tabs__button {
    height: 58px;
    width: 232px;
  }

  .tabs__switch-name {
    width: 173px;
  }

  .tabs__info {
    width: 992px;
    height: 386px;
  }

  .awesome {
    width: 100%;
  }
  
  .awesome__container {
    font-size: 14px;
  }

  .awesome__title, .pric__title, .say__title, .contact__title {
    font-size: 24px;
  }

  .awesome__title-wrapper, .pric__title-wrapper, .say__title-wrapper, .contact__title-wrapper {
    height: 120px;
  }
  
  .awesome__line, .pric__line, .say__line, .contact__line {
    width: 142px;
    margin-bottom: 32px;
  }  
  
  .awesome__subtitle, .pric__subtitle, .say__subtitle, .contact__subtitle {
    font-size: 14px;
    margin-bottom: 65px;
  }
  
  .awesome__block { 
    width: 316px; 
  }
  
  .awesome__icon-wrapper {
    height: 80px;
    width: 80px;
    margin-bottom: 60px;
  }
  
  .awesome__block-title {
    margin-bottom: 37px;
    font-size: 18px;
  }

  .pric {
    height: 770px;
  }

  .pric__container {
    width: 100%;
  }
  
  .pric__block { 
    width: 317px;
  }

  .pric__black:first-child {
    height: 53px;
  }
  
  .pric__black:nth-child(2) {
    height: 89px;
  }
  
  .pric__black {
    height: 44px;
  }
  
  .pric__withe {
    height: 44px;
  }
 
  .say {
    height: 616px;
  }

  .say__comment {
    width: 100%;
  }
  
  .block__mes {
    width: 317px;
  }
  
  .mes__mark {
    margin-left: 60px;
  }
  
  .block__name {
    margin: 15px 0;
    font-size: 18px;
  }
  
  .block__icon-text {
    margin-left: 22px;
  }
  
  .block__job {
    font-size: 14px;
  }

  .design {
    height: 358px; 
    background-size: cover;
  }
  
  .design__title {
    font-size: 24px;
  }
  
  .design__title-wrapper {
    padding-top: 50px;
    height: 120px;
  }
  
  .design__line {
    width: 142px;
    margin-bottom: 32px;
  }  
  
  .design__subtitle {
    font-size: 14px;
    margin-bottom: 32px;
  }
  
  .design__button {
    width: 318px;
  }

  .contact__message {
    width: 486px;
  }
  
  #contact__form-name, #contact__form-email, #contact__form-pas {
    width: 486px;
  }
  
  .contact__button {
    width: 318px;
  }

  .font-aw__end {
    width: 65%;
  }

  .font-aw__end i {
    font-size: 2.5em;
  }

  .end p {
    font-size: 14px;
  }

}

@media screen and (max-width: 768px) and (min-width: 320px) {

  .head__contain {
    height: 56px;
  }

  .head__contain-logo {
    height: 23px;
    z-index: 2;
  }

  .head__contain-nav {
    display: none;
  }

  .mobile__menu {
    display: contents;
  }

  .menu-wrapper {
    margin-top: 19px;
    margin-right: 15%;
    display: flex;
    justify-content: flex-end;
    background: black;
  }
  
  
  /* Гамбургер иконка */
  .menu-btn {
    width: 24px;
    height: 18px;
    position: relative;
    z-index: 2;
    overflow: hidden;
  }
  
  .menu-btn span {
    width: 24px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    transition: all 0.5s;
  }
  
  .menu-btn span:nth-of-type(2) {
    top: calc(50% - 7px);
  }
  
  .menu-btn span:nth-of-type(3) {
    top: calc(50% + 7px);
  }
  
  /* Меняем гамбургер иконку, когда меню открыто */
  .menu-btn.active span:nth-of-type(1) {
    display: none;
  }
  
  .menu-btn.active span:nth-of-type(2) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(45deg);
  }
  
  .menu-btn.active span:nth-of-type(3) {
    top: 50%;
    transform: translate(-50%, 0%) rotate(-45deg);
  }
  
  /* Меню, которое будет появляться */
  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    background: #000000;
    transform: translateX(100%);
    transition: transform 0.5s;
  }

  .menu li {
    margin-top: 50px;
    color: #FFFFFF;
  }
  
  .menu.active {
    transform: translateX(0);
  }
  
  .menu li {
    list-style-type: none;
  }

  .banner {
    background-size: cover;
    height: 1005px;
  }

  .banner__logo {
    display: none;
  }

  .banner__title {
    font-size: 36px;
    margin-right: 0;
  }

  .banner__subtitle {
    font-size: 14px;
    margin-bottom: 42px;    
  }

  .banner__wrapper {
    flex-direction: column;
    margin: 84px 16px 50px ;
  }

  .banner__text, .banner__wrapper {
    align-items: center;
    text-align: center;
  }

  .banner__button {
    height: 50px;
    width: 288px;
    margin-bottom: 56px;
  }

  .banner__form {
    width: 288px;
    height: 381px;
  }

  .banner__form-title {
    font-size: 14px;
    margin-top: 35px;
  }

  #form__pas {
    margin-bottom: 51px;
  }

  .media {
    height: 239px;
  }

  .media-wrapper {
    flex-direction: column;
    margin-bottom: 47px;
  }

  .media__text {
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: 18px;
    margin-top: 22px;
  }

  .media__text p {
    font-size: 14px;
    margin-bottom: 35px;
    font-weight: 400;
  }

  .font-aw {
    width: 320px;

  }

  .font-aw i {
    font-size: 1.5em;
  }

  .tabs__img {
    display: none;
  }

  .tabs {
    width: 279px;
    text-align: center;
    margin-bottom: 0;
  }

  .tabs__info {  
    height: 431px;
  }

  .tabs__switch-name {
    width: 93px;
  }

  .tabs__text {
    margin: auto;
    padding: 20px;
    font-size: 14px;
  }

  .tabs__title {
    font-size: 18px;
    margin-bottom: 60px;
  }

  .tabs__button {
    width: 242px;
    height: 50px;
  }

  .awesome {
    width: 100%;
    margin-bottom: 17px;
  }

  .awesome__title, .pric__title, .say__title, .contact__title {
    font-size: 24px;
  }

  .awesome__title-wrapper, .pric__title-wrapper, .say__title-wrapper, .contact__title-wrapper {
    height: 120px;
  }
  
  .awesome__line, .pric__line, .say__line, .contact__line {
    width: 134px;
    margin-bottom: 25px;
  }  
  
  .awesome__subtitle, .pric__subtitle, .say__subtitle, .contact__subtitle {
    font-size: 14px;
  }

  .awesome__block {
    width: 100%;
    margin-bottom: 43px;
  }

  .awesome__block-title {
    font-size: 18px;    
  }

  .awesome__container {    
    flex-direction: column;
    font-size: 14px;
  }

  .pric {
    height: 1580px;
  }

  .pric__subtitle {
    margin-bottom: 27px;
  }

  .pric__container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .pric__block {
    width: 288px;
    margin-bottom: 27px;
  }

  .pric__black:first-child {
    font-size: 18px;
    height: 47px;
  }

  .pric__black:nth-child(2) {
    font-size: 24px;
    height: 78.5px;
  }

  .pric__black, .pric__withe {
    height: 39px;
    font-size: 14px;
  }

  .pric__block:hover {
    margin-bottom: 27px;
  }

  .say {
    height: 580px;
    width: 100%;
    text-align: center;
  }

  .say__subtitle {
    margin-bottom: 24px;
  }

  .say__comment {
    display: none;
    /* flex-direction: column;
    width: 100%; */
  }

  .block__mes {
    height: 180px;
    width: 288px;
    font-size: 14px;
    margin-bottom: 66px;
  }

  .comment__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mes__mark {
    margin-left: 56px;
  }

  .block__icon {
    margin-right: 73px;
  }

  .block__icon img{
    width: 57px;
  }

  .block__icon-text {
    margin-left: 22px;
    align-items: flex-start;
  }

  .block__name {
    font-size: 14px;
    margin: 10px 0;
  }

  .block__job {
    font-size: 13px;
  }

  .design {
    background-size: auto;
    background-position: contain;
    height: 358px;
    padding: 16px;
  }
  
  .design__title {
    font-size: 24px;
  }

  .design__subtitle {
    font-size: 14px;
  }

  .design__title-wrapper {
    height: 120px;
    padding-top: 0;
  }

  .design__line {
    margin-bottom: 16px;
  }

  .design__subtitle {
    margin-bottom: 66px;
  }
  
  .design__button {
    width: 287px;
    height: 50px;
    margin-top: 0;
  }

  .contact {
    padding: 16px;
    margin-top: 0;
  }

  .form__wrapper {
    flex-direction: column;
  }

  #contact__form-name, #contact__form-email, #contact__form-pas, .contact__message {
    width: 288px;
  }

  .contact__message {
    height: 200px;
    margin-top: 50px;
  }

  .basic__wrapper {
    margin-right: 0;
  }

  .contact__button {
    width: 288px;
    height: 50px;
  }

  .font-aw__end {
    width: 90%;
  }

  .font-aw__end i {
    font-size: 1.5em;
  }

  .end {
    padding: 0;
  }

  .end p {
    font-size: 14px;
    margin-top: 40px;
  }

  .all {
    display: contents;
  }

  #slider { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 10px;
  }

  #slider{ /*центровка слайдера*/
    margin: 0 auto;
  }

  #slides article{ /*все изображения справа друг от доруга*/
    width: 20%;
    float: left;
  }

  #slides .image{ /*устанавливает общий размер блока с изображениями*/
    width: 500%;
  }

  #overflow{ /*сркывает все, что находится за пределами этого блока*/
    width: 100%;
    overflow: hidden;
  }

  .comment__block{ /*размер изображений слайдера*/
    width: 100%;
  }

  #desktop:checked ~ #slider{ /*размер всего слайдера*/
    max-width: 960px; /*максимальнная длинна*/
  }


  label { /*при наведении на стрелки или переключатели - курсор изменится*/
    cursor: pointer;
  }

  .all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
    display: none;
  }

  /*позиция изображения при активации переключателя*/
  #switch1:checked ~ #slides .image{
    margin-left: 0;
  }

  #switch2:checked ~ #slides .image{
    margin-left: -100%;
  }

  #switch3:checked ~ #slides .image{
    margin-left: -200%;
  }


  #controls{ /*положение блока всех управляющих элементов*/
    margin: -25% 0 0 0;
    width: 100%;
    height: 50px;
  }

  #active label{ /*стиль отдельного переключателя*/
    border-radius: 50%; /*скругление углов*/
    display: inline-block; /*расположение в строку*/
    width: 10px;
    height: 10px;
    border: 1px solid #86878B;
    margin: 0 25px;
  }

  #active{ /*расположение блока с переключателями*/
    margin-top: 32px;
    text-align: center;
  }

  #active label:hover{ /*поведение чекбокса при наведении*/
    background: #86878B;
    border-color: #86878B !important; /*выполнение в любом случае*/
  }

  /*цвет активного лейбла при активации чекбокса*/
  #switch1:checked ~ #active label:nth-child(1),
  #switch2:checked ~ #active label:nth-child(2),
  #switch3:checked ~ #active label:nth-child(3) {
    background: #86878B;
    border-color: #86878B !important;
  }

  #slides .image{ /*анимация пролистывания изображений*/
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  }

  #controls label:hover{ /*прозрачность стрелок при наведении*/
    opacity: 0.6;
  }

  #controls label{ /*прозрачность стрелок при отводе курсора*/
    transition: opacity 0.2s ease-out;
  }
}
