@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&family=Raleway:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');


/*Стиль для AWESOME*/
.awesome {
  font-family: 'Raleway', sans-serif;
  width: 1170px;
  margin: auto ; 
  margin-bottom: 50px;
}

.awesome__title, .pric__title, .say__title, .contact__title {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
}

.awesome__title-wrapper, .pric__title-wrapper, .say__title-wrapper, .contact__title-wrapper {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.awesome__line, .pric__line, .say__line, .contact__line {
  border-bottom: 1px solid #EC7979;
  width: 170px;
  margin: auto;
  margin-bottom: 40px;
}  

.awesome__subtitle, .pric__subtitle, .say__subtitle, .contact__subtitle {
  margin: 0;
  color: #86878B;
  font-size: 18px;
  text-align: center;
  margin-bottom: 90px;
}

.awesome__container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.awesome__block { 
  width: 370px; 
}

.awesome__icon-wrapper {
  height: 92px;
  width: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #EC7979;
  border-radius: 50%;
  margin: auto;
  margin-bottom: 78px;
}

.awesome__block-title {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 47px;
}

/*Стиль для TABS*/

.tabs {
  margin: auto;
  width: 1170px;
  margin-bottom: 50px;
}

.tabs__info {
  margin: auto;
  height: 500px;
  border: 1px solid #C6CBCD;
  display: flex;
  justify-content: space-around; 
}

.tabs__text {
  margin:47px 0 30px 100px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.tabs__title {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin: 0;
  margin-bottom: 74px;
}

.tabs__button {
  margin-top: 10px;
  height: 58px;
  width: 270px;
  background: #EC7979;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  align-items: center;
  border: none;
}

.tabs__button:hover {
  background: #AB4949;
  cursor: pointer;
}

.tabs__button:active {
  background: #EC7979;
  box-shadow: inset 0px 0px 10px #AB4949;
}

.tabs__switch {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400px; 
}

.tabs__switch-name {
  width: 203px;
  height: 40px;
  margin: 0;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #FFFFFF;
}

.tabs__switch-name:focus { 
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #C6CBCD;
  border-bottom: 4.5px solid #fff;
  margin-bottom: -4.5px;
}

.tabs__switch-name:hover {
  border-radius: 5px 5px 0px 0px;
  border: 1px solid #C6CBCD;
  border-bottom: 4.5px solid #fff;
  margin-bottom: -4.5px;
}

.tabs__pic {
  height: 100%;
}

/*цена и комментарии*/ 

.pric {
  font-family: 'Raleway', sans-serif;
  width: 1508px;
  height: 900px;
  margin: auto ; 
  background-color: #F5F5F5;
}

.pric__container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 0 10%;
}

.pric__block { 
  width: 370px;
}

p[class*="black"] {
  background: #333333;
  border: 2px solid #F5F5F5;
  color: #fff;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pric__black:first-child {
  height: 60px;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.pric__black:nth-child(2) {
  height: 100px;
  font-size: 36px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.pric__black {
  height: 50px;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.pric__withe {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  margin: 0;
  background: #FFFFFF;
  border: 2px solid #F5F5F5;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
}

.pric__block:hover { 
  margin-top: -20px;
  margin-bottom: auto;
  box-shadow: 0 4px 10px rgba(51, 51, 51, 0.2);
}

.say {
  font-family: 'Raleway', sans-serif;
  height: 744px;
  margin: auto ; 
}

.say__comment {
  width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.block__mes {
  position: relative;
  width: 370px;
  height: 180px;
  background: #E2E2E2;
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.mes__mark {
  position: absolute; /*для того чтобы треугольник комментария оставался на месте*/
  margin-top: 200px;
  margin-left: 70px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 25px solid #E2E2E2;
}

.block__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block__name {
  margin: 30px 0;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 24px;
}

.block__icon-text {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}

.block__job {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
}

/* header */

.head__contain {
  width: 1510px;
  height: 75px;
  background: #000;
  margin: auto;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
}

.head__contain-logo {
  margin: auto;
  margin-left: 150px;
}

.head__contain-nav {
  margin: auto;
}

.contain-nav {
  background: #000;
  height: 75px;
  width: 113px;
  color: #fff;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* дизайн */

.design {
  font-family: 'Raleway', sans-serif;
  width: 1510px;
  height: 442px;
  margin:auto ; 
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url(./imagine/sTown.png) ;  
  margin-bottom: 50px;
}

.design__title {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  color: #fff;
}

.design__title-wrapper {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.design__line {
  border-bottom: 1px solid #fff;
  width: 170px;
  margin: auto;
  margin-bottom: 40px;
}  

.design__subtitle {
  margin: 0;
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin-bottom: 73px;
}

.blok__design {
  display: flex;
  justify-content: center;
}

.design__button, .banner__button {
  margin-top: 10px;
  height: 58px;
  width: 270px;
  background: none;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  border:2px solid #FFFFFF;
  cursor: pointer;
}

/*медиа*/

.media {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  width: 1510px;
  height: 140px;
  background: #F8EFEF;
  margin-bottom: 100px;
}

.media__text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 24px;
  margin-left: 170px;
  margin-right: 0;
}

.media__text p {
  font-family: 'Raleway';
  color: #86878B;
  font-size: 18px;
}

.font-aw {
  width: auto;
  display: flex;
  justify-content: space-around;
  margin-right: 170px;
}

.font-aw i {
  width: 70px;
  height: 70px;
  margin-left: 35px;
  color: #CCCCCC;
}

/*footer*/

.end {
  background:#000;
  width: 1510px;
  height: 164px;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.font-aw__end {
  width: 500px;
  display: flex;
  justify-content: space-around;
}

.font-aw__end i {
  margin: 40px 30px 0 ;
  color: #CCCCCC;
}

.end p {
  font-family: 'Raleway';
  font-size: 18px;
  color: rgba(255, 255, 255, 0.5);
}

/*banner style*/

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url(./imagine/banner.png);
  width: 1510px;
  height: 950px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__text {
  max-width: 700px;
}

.banner__title {
  font-family: 'Raleway';
  font-weight: 500;
  font-size: 48px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  margin-right: 30px;
}

.banner__line {
  border-bottom: 1px solid #fff;
  width: 170px;
  margin-bottom: 40px;
}  

.banner__subtitle {
  font-family: "Raleway";
  margin: 0;
  color: #fff;
  font-size: 18px;
  margin-bottom: 73px;
}

.banner__form {
  width: 470px;
  height: 450px;
  background: #FFFFFF;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.banner__form-title {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 24px;
  color: #333333;
}

#form__name, #form__email, #form__pas {
  border: none;
  outline: none;
  border-bottom: 1px solid #BDBDBD;
  width: 370px;
  height: 60px;
  margin: auto;
}

#form__pas {
  margin-bottom: 75px;
}

.form__button {
  height: 60px;
  width: 100%;
  background: #EC7979;
  border-radius: 0px 0px 10px 10px;
  outline: none;
  border: none;
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 15px;
}

.colortext {
  color: #EC7979;
}

/*contact style*/

.contact {
  font-family: "Raleway";
  text-align: center;
}

.contact__form {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.contact__form-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contact__message {
  border: none;
  outline: none;
  border-bottom: 1px solid #BDBDBD;
  width: 570px;
  font-family: "Raleway";
}

#contact__form-name, #contact__form-email, #contact__form-pas {
  border: none;
  outline: none;
  border-bottom: 1px solid #BDBDBD;
  width: 570px;
  height: 60px;
  font-family: "Raleway";
}

.contact__button {
  margin: 50px;
  height: 58px;
  width: 270px;
  background: #EC7979;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  align-items: center;
  border: none;
}